<!doctype html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport"content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
		<script src="vue.min.js"></script>
		<link rel="stylesheet"href="a.css"/>
		<script src="a.js"></script>
	</head>
	<body onload="init()"onunload="backup()"onkeydown="handleKey(event)">
		<div id="app">
			<transition name="nf">
				<div id="div_menu"class="frm"v-show="ps=='menu'">
					<h1>Arcsine</h1>
					<div class="btn b1":style="{width:wbtn}"@click="ps='game';initGame()">Start</div><br/>
					<div class="btn b1":style="{width:wbtn}"@click="ps='level'">Select Level</div><br/>
					<div class="btn b1":style="{width:wbtn}"@click="ps='help'">Help</div>
				</div>
			</transition>
			<transition name="nf">
				<div class="frm frmGame"v-show="ps=='game'">
					<div :style="{width:wtbl,height:'50px',display:'inline-block'}">
						<span class="btn"@click="ps='menu'">Back</span>
						<span class="btn"@click="initGame()">Restart</span>
					</div>
					<table :style="{width:wtbl,margin:'auto'}">
						<tr>
							<td>Life</td>
							<td><progress :value="life":max="mxlife*p10":style="spgb">Life</progress></td>
						</tr>
						<tr>
							<td>Score</td>
							<td>{{sc}}</td>
						</tr>
						<tr>
							<td width="30%">sin x</td>
							<td width="70%">{{vsin}}</td>
						</tr>
						<tr>
							<td>x</td>
							<td :style="{color:cans}">{{vans}}</td>
						</tr>
					</table>
					<table :style="{width:wtbl,margin:'auto'}">
						<tr v-for="i in 3">
							<td v-for="j in 3"@click="_handleKey((i-1)*3+j+48)">{{(i-1)*3+j}}</td>
						</tr>
						<tr>
							<td style="width:33%"@click="_handleKey(190)">.</td>
							<td style="width:33%"@click="_handleKey(48)">0</td>
							<td style="width:33%"@click="_handleKey(8)">&lt;-</td>
						</tr>
						<tr>
							<td></td>
							<td @click="_handleKey(13)">ENTER</td>
							<td></td>
						</tr>
					</table>
				</div>
			</transition>
			<transition name="nf">
				<div class="frm"v-show="ps=='level'">
					<div :style="{width:wtbl,height:'50px',display:'inline-block'}">
						<span class="btn"@click="ps='menu'">Back</span>
					</div>
					<p><del>懒得好好写UI了，能用就行.</del></p>
					<input v-model="lv"/><br/>
				</div>
			</transition>
			<transition name="nf">
				<div class="frm"v-show="ps=='help'">
					<div :style="{width:wtbl,height:'50px',display:'inline-block'}">
						<span class="btn"@click="ps='menu'">Back</span>
					</div>
					<p>
						As you keneng have noticed, my English isn't very hao. Suoyi the shengxia  part would not be in Yingyu.
					</p>
					<p style="font-size:17px">
						游戏的目标是根据给定的三角函数值计算反三角函数值，保证答案在(0,90)间，且小数部分不超过level位. 每回合若与标准答案差距大于等于0.5，则按照差距扣除生命值，否则回复生命值. 每回合的得分为与标准答案差距的倒数四舍五入后的值，每回合至少得1分，若恰好猜中答案，得分为10^level.
					</p>
					<p style="font-size:17px">
						每回合结束后按ENTER开始下一回合.
					</p>
				</div>
			</transition>
		</div>
		<script>
			var data=localStorage.vm?JSON.parse(localStorage.vm):null;
			var vm=new Vue({
				el:"#app",
				data:data || {
					ps:'menu',
					flag:1,
					ans:'',
					theta:0,
					life:0,
					sc:0,
					mxlife:20,
					lv:0,
					cans:'white',
					wbtn:'33%',
					wtbl:'50%',
					spgb:{}
				},
				computed:{
					p10:function(){
						var ans=1;
						for (var i=0; i<this.lv; ++i) ans*=10;
						return ans;
					},
					vsin:function(){
						return Math.sin(this.theta/this.p10/180*Math.PI).toFixed(6);
					},
					vans:function(){
						if (this.flag) return this.ans;
						else return (this.ans/this.p10).toFixed(this.lv);
					}
				}
			});
			with (document.documentElement){
				if (clientWidth<clientHeight){
					vm.wbtn='80%';
					vm.wtbl='100%';
					vm.spgb={width:'100%'};
				}
			}
		</script>
	</body>
</html>
